# ASSIGNMENT 2

In [10]:
#Q1.MODIFY THE FIRST ITEM (22) OF A LIST INSIDE A FOLLOWING TUPLE TO 222.
#TUPLE1=(11,[22,33],44,55)

tuple1=(11,[22,33],44,55)
tuple1[1][0]=222
tuple1

(11, [222, 33], 44, 55)

In [6]:
#Q2.COUNT THE NUMBER OF OCCURRENCES OF ITEM 50 FROM A TUPLE 
#tuple1=(50,10,60,70,50)

tuple1=(50,10,60,70,50)
for i in tuple1:
    if i==50:
        count=1
        totalcount=count+1
print("Total occurrence of 50 : ",totalcount)

Total occurrence of 50 :  2

In [7]:
#Q3.WRITE A PYTHON PROGRAM TO COVERT A LIST TO TUPLE

lst=['cow','goat','dog','parrot','pig']
tuple1=tuple(lst)
tuple1

('cow', 'goat', 'dog', 'parrot', 'pig')

In [8]:
#Q4.RETURNS A NEW SET WITH ALL ITEMS FROM BOTH SETS BY REMOVING DUPLICATES
#set1={10,20,30,40,50}
#set2={30,40,50,60,70}

set1={10,20,30,40,50}
set2={30,40,50,60,70}
set3=set1|set2
set3

{10, 20, 30, 40, 50, 60, 70}

In [9]:
#Q5.MERGE FOLLOWING TWO PYTHON DICTIONARIES INTO ONE
#dict1={'Ten':10,'Twenty':20,'Thirty':30}
#dict2={'Thirty':30,'Forty':40,'Fifty':50}

#EXPECTED OUTPUT:{'Ten':10,'Twenty':20,'Thirty':30,'Forty':40,'Fifty':50}

dict1={'Ten':10,'Twenty':20,'Thirty':30}
dict2={'Thirty':30,'Forty':40,'Fifty':50}
dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40, 'Fifty': 50}

In [52]:
#Q6.GIVEN A PYTHON DICTIONARY, CHANGE BRAD'S SALARY TO 8500
#sampleDict={'emp1':{'name':'John','salary':7500},
#            'emp2':{'name':'Emma','salary':8000},
#            'emp3':{'name':'Brad','salary':6500}
#            }

#EXPECTED OUTPUT:

#sampleDict={'emp1':{'name':'John','salary':7500},
#            'emp2':{'name':'Emma','salary':8000},
#            'emp3':{'name':'Brad','salary':8500}
#            }

sampleDict={'emp1':{'name':'John','salary':7500},'emp2':{'name':'Emma','salary':8000},'emp3':{'name':'Brad','salary':6500}}
sampleDict['emp3']['salary']=8500
sampleDict

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [54]:
#Q7.RENAME KEY CITY TO LOCATION IN THE FOLLOWING DICTIONARY
#sampleDict={"name":"Kelly","age":25,"salary":8000,"city":"New york"}

#EXPECTED OUT: {"name":"Kelly","age":25,"salary":8000,"location":"New york"}


sampleDict={"name":"Kelly","age":25,"salary":8000,"city":"New york"}
sampleDict["location"]=sampleDict.pop("city")
sampleDict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}