#Q1 #INPUT A STRING OF ODD LENGTH(MINIMUM 9 CHARACTERS)PRINT A STRING MADE OF THE 3 MIDDLE CHARACTERS FROM INPUT STRING

In [ ]:
str=input("enter a string:")
l=int(len(str))
m=int(l/2)
s=str[m-1:m+2]
print("middle characters are :",s)

In [ ]:
#Q2 #CALCULATE THE SUM AND AVERAGE OF FIRST N NATURAL NUMBERS
  A) USING THE FOR LOOP
  B) USING WHILE LOOP

In [ ]:
A) #USING FOR LOOP

n=int(input("enter a number"))
s=0
for i in range(1,n+1):
    s=s+i
    avg=s/n
print("sum:",s)    
print("avg:",avg)

In [ ]:
B) #USING WHILE LOOP

n=int(input("enter a number"))
s=0
avg=0
i=0
while i<=n:
    s=s+i 
    avg=s/n
    i=i+1
print("sum:",s)
print("avg:",avg)

Q3 #ACCEPT LIST OF 5 FLOATING NUMBERS AS INPUT FROM USER USING LOOP AND STORE VALUES IN A LIST

In [ ]:
list=[]
for i in range(5):
    n=float(input("number :"))
    list.append(n)
print("list of five float numbers : ",list)

In [ ]:
Q4 #PRINT THE FOLLOWING PATTERN

A)  1                   B)  54321
    12                      4321      
    123                     321  
    1234                    21
    12345                   1

In [ ]:
#Q4 A)

for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

#Q4 B)

for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end="")
    print()

In [ ]:
#Q5 INPUT A NUMBER COUNT ND PRINT THE TOTAL NUMBER OF DIGITS IN THAT NUMBER USING WHILE LOOP

In [ ]:
#Q6 GIVEN TWO LIST .CREATE A THIRD LIST BY PICKING AN ODD INDEX ELEMENT FROM THE FIRST LIST AND EVEN INDEX ELEMENT FROM SECOND

              LISTONE=[3,6,9,12,15,18,21]
              LISTTW0=[4,8,12,16,20,24,28]

In [ ]:
listone=[3,6,9,12,15,18,21]
listtwo=[4,8,12,16,20,24,28]
listthree=[]
a=listone[1::2]
b=listtwo[0::2]
listthree=a+b
print("listthree : ",listthree)

In [ ]:
#Q7 PROGRAM TO GET THE SMALLEST NUMBER FROM A LIST

In [ ]:
#Q8 REVERSE THE FOLLOWING LIST USING FOR LOOP AND RANGE WITHOUT USING REVERSE OR REVERSE FUNCTION

In [ ]:
list1=[10,20,30,40,50]
length=len(list1)
for i in range(length,0,-1):
    print(list1[i-1],end=" ")