In [2]:
lst1=['calicut',3,2,1]
lst1

['calicut', 3, 2, 1]

In [4]:
lst1[-3:-1:-1]

[]

In [6]:
lst1[3:0:1]

[]

In [7]:
lst1[-3:-1]

[3, 2]

['calicut']

In [7]:
lst=[]
lst.append("delhi")
lst.append(1)
lst

['delhi', 1]

In [8]:
lst.append(['delhi',3,4])
lst

['delhi', 1, ['delhi', 3, 4]]

In [9]:
lst.insert(1,12)
lst

['delhi', 12, 1, ['delhi', 3, 4]]

In [10]:
lst.insert(-2,55)
lst

['delhi', 12, 55, 1, ['delhi', 3, 4]]

In [13]:
lst2=['abc','vfd','ghy','jki']
lst2

['abc', 'vfd', 'ghy', 'jki']

In [16]:
lst2.insert(-2,'tt')
lst2

['abc', 'vfd', 'tt', 'tt', 'tt', 'ghy', 'jki']

lst2.pop()
lst2

In [22]:
lst2.pop()
lst2.insert(-1,'ad')
lst2.pop()
lst2

['abc', 'ad']

In [26]:
list=[1,3,4,5]

list

[1, 3, 4, 5]

In [27]:
list.pop()
list

[1, 3, 4]

In [28]:
list.pop(0)
list

[3, 4]

In [30]:
list=[1,5,8,4,9,2,5,6]
list

[1, 5, 8, 4, 9, 2, 5, 6]

In [33]:
list.sort()
list

[1, 2, 4, 5, 5, 6, 8, 9]

list.insert(4,7)
list

In [35]:
list.insert(4,7) 
list

[1, 2, 4, 5, 7, 5, 6, 8, 9]

In [37]:
list.remove(5)
list

[1, 2, 4, 7, 6, 8, 9]

In [39]:
c

'mescollege'

In [41]:
'mes'+'college'

'mescollege'

In [43]:
"mes"+"college"

'mescollege'

In [45]:
'mes' + 'college'

'mescollege'

In [48]:
list1=['ai','be','ct','du']
list2=['je','fj','jh',1,'gj']
list1+list2

['ai', 'be', 'ct', 'du', 'je', 'fj', 'jh', 'gj']

In [50]:
mystr="india"
mystr*3

'indiaindiaindia'

mystr="aiswarya haridas"
mystr

In [52]:
mystr1="aiswarya"
mystr1

'aiswarya'

In [60]:
for i in mystr1:
    print(i,end=" ")

a i s w a r y a

In [61]:
print(i,end="*")

a*

In [65]:
for i in list2:
    if type(i)==int:
      print(i)

In [72]:
for i in list2:
      if type(i)==int:
        print(i)

In [79]:
lista=[1,5,4,1,3,4,5,6,7,8,9,9,8,7,5]
lista

[1, 'df', 5, 4, 1, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 5]

In [76]:
for i in lista:
    if type(i)==int:
        print(i)

1
5
4

TypeError: 'list' object is not callable

In [91]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [93]:
for i in list:
    if type(i)==int:
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [98]:
list(range(10)
list

SyntaxError: invalid syntax (<ipython-input-98-f911e77937ce>, line 2)

In [101]:

aishu=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
aishu

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [104]:
list(range(10))

TypeError: 'list' object is not callable

In [108]:
for i in range(1,11):
    type(i)==int: 
    print(i)

SyntaxError: invalid syntax (<ipython-input-108-3c92ed207b6d>, line 2)

In [111]:
for i in range(1,11):
      if type(i)==int: 
             print(i)

1
2
3
4
5
6
7
8
9
10

In [117]:
for i in range(1,11):
      if type(i)==char: 
             print(i)

NameError: name 'char' is not defined

In [123]:
s=0
for i in range(1,21):
    s=s+i
    print("sum:",s)

sum: 1
sum: 3
sum: 6
sum: 10
sum: 15
sum: 21
sum: 28
sum: 36
sum: 45
sum: 55
sum: 66
sum: 78
sum: 91
sum: 105
sum: 120
sum: 136
sum: 153
sum: 171
sum: 190
sum: 210

In [ ]:
for i in range(1,10):
    s=int(input("enter a number"))
    s=i*s
    print(s)
    s=s+1

In [ ]:
for i in range(1,10):
    s=int(input("enter a number"))
    s=i*s
    print(s)
    s=s+1

In [ ]:
  s=int(input("enter a number"))
    for i in range(1,10):
         s=i*s
             print(s)
                  s=s+1

In [ ]:
 s=int(input(enter)

In [ ]:


a=int(input("enter"))

In [ ]:
b=input("enter a string")

In [ ]:
c=input()
s=3
s

In [ ]:
a=int(input("enter a number"))
s=10
for i in range(1,100):
    i=1*s
    print("i")
    i=i+1